/* CSS for personal web-page */

.raleway{
     font-family: "Raleway", sans-serif;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #388E8E;
    text-decoration: none;
}

a:hover {
    color: rgb(205,112,84); /*salmon3*/
    text-decoration: none;
}

.bottom-icon{
    /* font-size: 25px !important; */
    font-size: 18px !important;
    width:auto;
    height:auto;
}


/*========== colors ==============*/
.dew3{
    color: rgb(193,205,193); /*honeydew3*/
}
.dew4{
    /* color: rgb(131,139,131); /\*honeydew4*\/ */
    color: #000000;
}
.pt4{
    color: rgb(102,139,139); /*paleturquoise4*/
}
.salmon3{
    color: rgb(205,112,84); /*salmon3*/
}
.sgi-teal{
    color: #388E8E; 
}
.gray91{
    color: rgb(232,232,232);
}

/*===================================*/

.page-title{
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    text-align:center;
}
.page-title-left{
    margin-left:16%;
    /* margin-right:30%; */
    margin-top:5%;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
}

.subtitle-left{
    margin-left:16%;
    /* margin-right:30%; */
    margin-top:4%;
    text-align:left;
    padding-left:20px;
    padding-right:20px;
}

.feature-center{
    margin-top: 3%;
    font-size: 100%;
    text-align:left;
    margin-left:16%;
    margin-right:16%;
}
.feature-center-alt{
    margin-top: 3%;
    font-size: 100%;
    text-align:left;
    margin-left:16%;
    margin-right:16%;
}

.bottom-links{
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    text-align:center;
    margin-bottom:5%;
}
.bottom-links-left{
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}

.separator{
    padding-left:20px;
    padding-right:20px;
}

.ref{
    /* padding-left: 4%; */
    padding-left: 44px;
    text-indent: -22px;
    /* text-indent: -3%; */
    
}

.pub-bullet{
    padding-left: 4px;
}